#title {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

body {
  margin: 0 7em;
}
/*Teachers Section*/
.Teachers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.ChingShihBox, .JackSparrowBox, .WilliamKiddBox, .MaryReadBox, .BartRobertsBox {
  display: flex;
  flex-flow: column nowrap;
  border: solid;
  width: 30%;
  text-align: center;
  height: 25%;
  margin: 1em;
}
.ChingShih, .JackSparrow, .WilliamKidd, .MaryRead, .BartRoberts {
  display: flex;
  flex-direction: column;
  height: 7em;
  line-height: .25em;
  padding-top: 1.25em;
}

.XAxis1, .XAxis2, .XAxis3, .XAxis4, .XAxis5 {
  display: flex;
  flex-flow: row nowrap;
}

.Courses1, .Rating1, .Courses2, .Rating2, .Courses3, .Rating3, .Courses4, .Rating4, .Courses5, .Rating5 {
  display: flex;
  flex-flow: column wrap;
  border-top: solid;
  width: 50%;
}

.Courses1, .Courses2, .Courses3, .Courses4, .Courses5 {
  border-right: solid;
}

/*Students Section */
.Students {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.AnneBonny, .EdwardTeach, .FrancisDrake {
  display: flex;
  flex-flow: column wrap;
  border: solid;
  text-align: center;
  width: 33%;
}

.ABInfo, .ETInfo, .FDInfo {
  display: flex;
  flex-flow: column wrap;
  border-top: solid;
  justify-content: center;
}

.Email1, .GPA1, .CourseS1 {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}
/*Courses Section */
.Courses {
  display: flex;
  flex-flow: row wrap;
}

.Swashbuckling {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: solid;
  width: 50%;
}

.SwashInfo {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-left: solid;
}
